/* body {
    background: rgb(99, 39, 120);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

.profile-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105%;
    height: 100%;

    background: rgb(99, 39, 120);
    margin-left: -10px;
    margin-top: -10px;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    background: #fff;
    border-radius: 10px;
    width: 60vh;
    height: 50vh;
    max-width: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: all 0.3s ease;
}

.profile-container.editing {
    max-height: 600px;
    height: 78vh;
}

.profile-picture-section {
    border-right: 1px solid #dee2e6;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-picture-section img {
    border-radius: 50%;
    margin-top: 20px;
}

.profile-settings-section {
    padding-left: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.labels {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.profile-button:hover,
.profile-button:focus,
.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.btn-secondary {
    background: #6c757d;
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background: #5a6268;
    box-shadow: none;
}

.text-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.display-field {
    margin-bottom: 30px; /* Adds 10px more margin than the default 20px */
}

@media screen and (max-width: 768px) {
    .profile-container {
        flex-direction: column;
    }

    .profile-picture-section {
        border-right: none;
        padding-right: 0;
    }

    .profile-settings-section {
        border-right: none;
        padding-right: 0;
        padding-left: 0;
    }
}
