.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center ;
  height: 101vh;
  width: 102%;
  margin-top: -10px;
  margin-left: -10px;
  padding: 0px;
  color: #F79810;
  text-align: center;
  font-family: 'Arial', sans-serif;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Adds a subtle shadow effect */
}

.welcome-container h1 {
  font-size: 3em;
  margin-bottom: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 5px 4px 4px rgb(0, 0, 0); /* Adds text shadow for better readability */
}


.button-33 {
  background-color: #f78800;
  border-radius: 1px;
  box-shadow: rgba(241, 199, 61, 0.2) 0 -25px 18px -14px inset;
  color: #3E3E3E;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgb(255, 153, 0) 0 -25px 18px -14px inset;
  transform: scale(1.05) rotate(-1deg);
  font-weight: bold; 
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .welcome-container {
    background-size: contain; /* Adjust background size for medium screens */
  }

  h1 {
    font-size: 28px;
  }

  button {
    padding: 8px 16px;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .welcome-container {
    background-size: contain; /* Adjust background size for small screens */
  }

  h1 {
    font-size: 24px;
  }

  button {
    padding: 6px 12px;
    font-size: 14px;
  }
}
